{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small>Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_story">Add Story</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for story in stories %}
      <tr>
        <td>{{story.id}}</td>
        <td>{{story.title}}</td>
        <td>{{story.author}}</td>
        <td>{{story.create_date}}</td>
        <td><a href="/edit_story/{{story.id}}" class="btn btn-default pull-right">EDIT</a></td>
        <td>
          <form action="{{url_for('delete_story', id=story.id)}}" method="post">
            <input type="hidden" name="method" value="Delete">
            <input type="submit" value="DELETE" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
